// Specific CSS for your home-page
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  // background-image: url("img_parallax.jpg");
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bgimg-2 {
  // background-image: url("img_parallax2.jpg");
  min-height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgimg-3 {
  // background-image: url("img_parallax3.jpg");
  min-height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .caption {
//   position: absolute;
//   align-items: center;
//   width: 100%;
//   text-align: center;
//   display: block;
//   justify-content: center;
//   color: white;
// }


// .caption h1 {
//   font-size: 50px;
//   font-weight: bold;
//   text-shadow: 0px 1px rgba(0, 0, 0, 1);
// }
// .caption p {
//   font-size: 25px;
//   font-weight: lighter;
//   color: rgb(255, 255, 255);
//   opacity: 1;
//   margin-bottom: 30px;
// }

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.text-center {
  text-align: center;
}

.padded {
  padding: 0px 0;
  margin-top: 30px;

}

.chatbot img{
  width: 65%;
}


.features img {
  width: 100%;
}

.features img:hover  {
  margin-top: -5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}

.features_key_nb img {
  width: 100%;
  border-radius: 10px;
}

.features_key_nb img:hover  {
  margin-top: -5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.features_key_nb h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features_key_nb p {
  font-size: 15px;
  font-weight: lighter;
}

.features_tem img {
  width: 100%;
}

.features_tem img:hover  {

  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}


.count
{
  line-height: 100px;
  color:black;
  margin-left:30px;
  font-size:25px;
}


// .iphone {
//   position: relative;
//   top: 0;
//   left: 0;
// }

// .chatbot {
//   position: absolute;
//   top: 0px;
//   left: 0px;
// }








