<div class="footer">
  <div class="footer-links">
    <!-- <a href="#"><i class="fa fa-github"></i></a> -->
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="jobs">
    <a href="mailto:amael@ncode.ai">Jobs </a>
  </div>
  <div class="footer-copyright">
    © 2018 NCODE SAS | All rights reserved <i class="fa fa-android"></i>
  </div>
</div>
